form{
    gap: 15px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    display: flex;
    flex-direction: column;
}
.form_button{
    border-radius: 5px;
    background-color: coral;
}
input:valid{
    border: 1px solid greenyellow;
}
input:invalid{
    border: 1px dashed red;
}
input:invalid:required{
 background-image: linear-gradient(to-right,purple,rgb(0, 255, 217));
}